<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    
    <h1><u>List Of Student</u></h1>
    <a href="/create"><button>Create</button></a>
    <table border="1" style="border-collapse: collapse;">
        <tr>
            <th>Id</th>
            <th>Tittle</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>thumnail</th>
            <th>Actionoooo</th>

        </tr>
        <tr th:each="books : ${booklist}">
            <td th:text="${books.id}"></td>
            <td th:text="${books.title}"></td>
            <td th:text="${books.author}"></td>
            <td th:text="${books.publisher}"></td>
            <td><img th:src="@{{img}/(img=*{books.Thumnail})}" alt="" height="40px"></td>
            <td>
                <a th:href="@{/view/{id}(id=${books.getId()})}"><button>View</button></a>
                <button class="btn" th:attr="data-id=${books.getId()}">Delete</button>
                <a th:href="@{/edit/{id}(id=${books.getId()})}"><button>Update</button></a>
            </td>
        </tr>
    </table>

    <script src="/js/jquery.js"></script>
    <script>
        $(document).ready(function () {
            $(".btn").click(function () {
                var data = $(this).attr("data-id");
                if(confirm("Do you want to delete"))
                {
                    window.location = "/remove/"+data;
                }
            });
        });
    </script>
</body>
</html>